:root {
  --primary-color: #0f0f0f;
  --main-text-color: #ffffff;
  --info-color: #80837f;
  --success-color: #3a7f3d;
  --warning-color: #dbb407;
  --danger-color: #f44336;
}

body {
  max-width: 1920px;
  background-color: var(--primary-color);
  font-family: "Roboto Flex", Arial, sans-serif;
  color: var(--main-text-color);
}
p {
  margin-bottom: 0;
}
.nav_header {
  background-color: #0f0f0f;
}

.text-size {
  font-size: 20px;
  line-height: 24px;
}

.hero_company_name {
  color: var(--warning-color);
  font-family: "Jost", Arial, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  vertical-align: middle;
}
.target-text {
  color: var(--main-text-color);
  font-size: 20px;
}

.section_head {
  color: var(--warning-color);
  font-family: "Jost", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  vertical-align: middle;
}

.info_about {
  font-family: "Jost", Arial, sans-serif;
  font-size: 40px;
}
.text_about {
  font-size: 14px;
}

.text_dark {
  color: #0f0f0f;
}

.footer {
  background-color: #000000;
  color: var(--info-color);
}